*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#f3f3f3;
}

.hero{
    height:220px;
    background:
    linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),
    url("https://images.unsplash.com/photo-1521587760476-6c12a4b040da?q=80&w=1470&auto=format&fit=crop");
    background-size:cover;
    background-position:center;
}

.navbar{
    width:90%;
    margin:auto;
    padding:20px 0;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo,
.nav-links a{
    color:#fff;
}

.logo{
    display:flex;
    gap:8px;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:25px;
}

.nav-links a{
    text-decoration:none;
    font-size:13px;
}

.nav-buttons{
    display:flex;
    gap:10px;
}

.login-btn,
.signup-btn{
    text-decoration:none;
    padding:8px 15px;
    border-radius:4px;
    font-size:12px;
}

.login-btn{
    background:#e00074;
    color:#fff;
}

.signup-btn{
    background:#fff;
    color:#e00074;
}

.signup-section{
    max-width:450px;
    margin:50px auto;
    text-align:center;
}

.signup-section h3{
    color:#ff0a78;
    margin-bottom:25px;
}

form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.row{
    display:flex;
    gap:10px;
}

form input{
    width:100%;
    padding:12px;
    border:1px solid #ddd;
    border-radius:4px;
}

.password-box{
    position:relative;
}

.password-box i{
    position:absolute;
    right:15px;
    top:14px;
    color:#999;
}

button{
    padding:12px;
    background:#e00074;
    color:#fff;
    border:none;
    border-radius:4px;
    cursor:pointer;
}

.login-text{
    margin:20px 0;
    font-size:13px;
}

.login-text a{
    color:#ff0a78;
    text-decoration:none;
}

.divider{
    margin:20px 0;
    color:#999;
}

.social-login{
    display:flex;
    flex-direction:column;
    gap:12px;
}

.social-login a{
    background:#fff;
    padding:12px;
    text-decoration:none;
    color:#444;
    border-radius:4px;
    box-shadow:0 2px 6px rgba(0,0,0,.08);
}

footer{
    background:#342347;
    padding:40px;
    color:#fff;
    margin-top:80px;
}

.footer-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.footer-left{
    display:flex;
    gap:30px;
    align-items:center;
}

.footer-links{
    display:flex;
    gap:20px;
    list-style:none;
}

.footer-links a{
    color:#fff;
    text-decoration:none;
    font-size:12px;
}

.social-icons{
    display:flex;
    gap:15px;
}

.social-icons a{
    color:#fff;
}